<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Layout.master.cs" Inherits="ThanhThanhCong_test_webform.Layout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>TTCS - Hợp đồng thuê đất</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div align="center">
        <a href="Default.aspx">Trang chủ </a>
        <%  if(Session["user"] != null)
            { %>
         -
        <a href="/HopDongForm.aspx"> Tạo mới hợp đồng</a>
        <%  if(Session["per"].ToString() == "1")
            { %>
         -
        <a href="/HopDong.aspx"> Danh sách hợp đồng</a> -
        <a href="/HopDongin.aspx"> Xem số lần in hợp đồng</a> -
        <a href="/Vung.aspx"> Quản lý vùng</a>
        <%  }
            } %>
    </div>
    <div align="center">
        <%  if(Session["user"] == null)
            { %>
                <a href="/DangNhap.aspx"> Đăng nhập</a>
        <%  }
            else
            { %>
                Xin chào <%=Session["user"] %> - <a href="/DangNhap.aspx?action=out"> Đăng xuất</a>
        <%  } %>
    </div>
    <br /><br />
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
</body>
</html>
