<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Layout.master.cs" Inherits="ThanhThanhCong_test_webform.Layout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>TTCS - Hợp đồng thuê đất</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div align="center">
        <a href="Default.aspx">Trang chủ </a> -
        <a href="/HopDongForm.aspx"> Tạo mới hợp đồng</a> -
        <a href="/HopDong.aspx"> Danh sách hợp đồng</a> -
        <a href="/Vung.aspx"> Quản lý vùng</a>
    </div>
    <br /><br />
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
</body>
</html>
